[app]
fast_llm = "gemini/gemini-2.5-flash-lite"
quality_llm = "gemini/gemini-2.5-flash"
vlm = "gemini/gemini-2.5-flash"
audio_lm = "gemini/gemini-2.5-flash-lite"

default_max_upload_size = 200_000_000

[embedding]
provider = "litellm"
base_model = "gemini/gemini-embedding-001"
base_dimension = 768
batch_size = 128
add_title_as_prefix = true
concurrent_request_limit = 8

[ingestion]
chunk_size    = 2_048
chunk_overlap = 256

[completion_embedding]
provider = "litellm"
base_model = "gemini/gemini-embedding-001"
base_dimension = 768
batch_size = 128
add_title_as_prefix = true
concurrent_request_limit = 8

[auth]
provider = "r2r"
access_token_lifetime_in_minutes = 60
refresh_token_lifetime_in_days = 7
require_authentication = true
require_email_verification = false
default_admin_email = "admin@example.com"
default_admin_password = "ButterflyEffect101"