apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.knowledgeBaseServiceR2R.userConfigs.secretName }}
  labels:
    {{- include "infomineo-chatbot.labels" . | nindent 4 }}

  namespace: {{ .Values.namespace }}
  
type: Opaque
# You can use 'stringData' so you don’t have to manually b64‑encode
stringData:
  my_custom_config.toml: |-
    [app]
    fast_llm = "gemini/gemini-2.5-flash-lite"
    quality_llm = "gemini/gemini-2.5-flash"
    vlm = "gemini/gemini-2.5-flash"
    audio_lm = "gemini/gemini-2.5-flash-lite"

    default_max_upload_size = 200_000_000

    [embedding]
    provider = "litellm"
    base_model = "gemini/gemini-embedding-001"
    base_dimension = 768
    batch_size = 128
    add_title_as_prefix = true
    concurrent_request_limit = 8

    [ingestion]
    chunk_size    = 2_048
    chunk_overlap = 256

    [completion_embedding]
    provider = "litellm"
    base_model = "gemini/gemini-embedding-001"
    base_dimension = 768
    batch_size = 128
    add_title_as_prefix = true
    concurrent_request_limit = 8
